@page
@model             CroptorAuth.Pages.Login.Index

<div class="login-page">

    <partial name="_ValidationSummary"/>
    <div class="sign-card">
        <div class="header">
            <div class="active">Log in</div>
            <a href="~/Account/Register?ReturnUrl=@Model.Input.ReturnUrl">
                <div>Sign Up</div>
            </a>
        </div>

        <div class="card-body">
            <form asp-page="/Account/Login/Index">
                <input type="hidden" asp-for="Input.ReturnUrl"/>

                <div class="form-group">
                    <label asp-for="Input.Email">email</label>
                    <input class="form-control" placeholder="email@example.com" asp-for="Input.Email" autofocus>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password">password</label>
                    <input type="password" class="form-control" placeholder="type your password" asp-for="Input.Password" autocomplete="off">
                    <div class="row-left">
                        <a href="~/Account/ForgotPassword">Forgot password?</a>
                    </div>
                </div>

                <button class="sign-in-button" name="Input.Button" value="login">Log in</button>
            </form>
        </div>
        <ul class="external">
            @foreach (var provider in Model.View.VisibleExternalProviders)
            {
                <a asp-page="/ExternalLogin/Challenge"
                   asp-route-scheme="@provider.AuthenticationScheme"
                   asp-route-returnUrl="@Model.Input.ReturnUrl">
                    @if (provider.DisplayName == "Google")
                    {
                        <img src="~/wwwroot-auth/images/login with google.svg" alt="Log in with Google"/>
                    }
                    @if (provider.DisplayName == "Facebook")
                    {
                        <img src="~/wwwroot-auth/images/login with facebook.svg" alt="Log in with Facebook"/>
                    }
                </a>
            }
        </ul>
    </div>
</div>