.welcome-page .logo {
    width: 64px;
}

.icon-banner {
    width: 32px;
}

.body-container {
    margin-top: 60px;
    padding-bottom: 40px;
}

.welcome-page li {
    list-style: none;
    padding: 4px;
}

.logged-out-page iframe {
    display: none;
    width: 0;
    height: 0;
}

.grants-page .card {
    margin-top: 20px;
    border-bottom: 1px solid lightgray;
}
.grants-page .card .card-title {
    font-size: 120%;
    font-weight: bold;
}
.grants-page .card .card-title img {
    width: 100px;
    height: 100px;
}
.grants-page .card label {
    font-weight: bold;
}
* {
    font-family: "Mona-Sans", sans-serif;
    letter-spacing: .05rem;
}
.login-page {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
}
.sign-in-button {
    border: none;
    width: calc(100% - 4rem);
    height: 2.5rem;
    border-radius: 1.4rem;
    outline: none;
    background: #00dede;
    color: white;
    font-size: 1.5rem;
    margin: 3rem 2rem 0;
    user-select: none;
}
.sign-in-button:hover {
    background: #00afaf;
}
.sign-in-button:focus {
    border: none;
    outline: none;
}
.sign-in-button:active {
    border: none;
    outline: none;
}
.external {
    margin-top: 1rem;
    padding: 0 1rem;
    display: flex;
    width: 100%;
    user-select: none;
    -webkit-user-drag: none;
}
.external a {
    flex: 1;
}
.external a img {
    width: 100%;
}
.sign-card {
    width: 30rem;
    box-shadow: .11rem .11rem .2rem rgba(75, 69, 91, .27);
    border-radius: .5rem;
    border: rgba(75, 69, 91, .27) solid .05rem;
}
.form-field {
    display: flex;
    flex-direction: column;
}
.form-group {
    margin: 1rem 3rem;
}
.form-control {
    height: 2rem;
}
.sign-card .header {
    width: 100%;
    display: flex;
    height: 4rem;
}
.sign-card .header > * {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    user-select: none;
    cursor: pointer;
    text-decoration: none;
    background: #00dede;
    color: white;
}
.sign-card .header > *:first-child {
    border-top-left-radius: .5rem;
}
.sign-card .header > *:last-child {
    border-top-right-radius: .5rem;
}
.sign-card .header > *.active {
    flex: 1;
    color: #b3c0cd;
    background: white;
}
